body {
    font-family:Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.header,
.footer {
    background-color: #1f2937;
   
}
.header {
    display: flex;
    flex-direction: column;
    padding: 20px 200px 100px 200px;
    
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: -15px;
}
.subtxt,
a,
.footer  {
    font-size: 18px;
    color: #e5ebe5;
    text-decoration: none;
    min-width: 480px;
}
.logo,
.text,
.button {
    font-size: 24px;
    color: #f9faf8;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.quote-part {
    background-color: #e5e7eb;
    font-size: 20px;
    font-weight: 800;
    color: #1f2937;
}
h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}


.cointeiner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    outline: 2px solid red;

  
}
ul {
    display: flex;
    gap: 40px;
}
.mian-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
}
.small-conteiner {
    display: flex;
    flex-wrap: wrap;
    padding-right: 100px;
}
button > img {
    color: white;
}
.imgt{
min-width: 150%;
height: auto;

}
.main {
display: flex;
outline: 2px solid red;
flex-direction: column;
}
.information-part {
display: flex;
padding: 400px;
justify-content: space-between;
}

.quote-part {
display: flex;
flex-direction: column;
padding: 200px 700px 200px 700px;
justify-content: center;
align-items: center;
min-width: 400px;
}
.quote {
    margin-left: 900px;
}
.padding {
    padding: 2000px
    background-color: white;
}
.action-part {
margin-top: 100px;
margin-left: 400px;
margin-right: 400px;
margin-bottom: 100px;
padding-left: 100px;
padding-right: 100px;
padding-top: 40px;
padding-bottom: 40px;
display: flex;
justify-content: space-between;


gap: 100px
}
.but {
    display: flex;
    
  
}
.action-part,
button {
    background-color: #3882f6; 
     border-radius: 10px;
     padding: -5px -50px;
}
.button {
    padding: 0px 200px;
}
.textp {
    margin-top: 4px;
    font-size: 18px;
    color: #e5ebe5;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}