body {
    font-family:Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background-color: #1f2937;
   
}
.header {
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;

}
h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: -15px;
}
.subtxt,
a,
.footer  {
    font-size: 18px;
    color: #e5ebe5;
    text-decoration: none;
}
.logo,
.text,
.button {
    font-size: 24px;
    color: #f9faf8;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.quote-part {
    background-color: #e5e7eb;
    font-size: 20px;
    font-weight: 800;
    color: #1f2937;
}
h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}
.action-part,
button {
    background-color: #3882f6; 
     border-radius: 10px;
     padding: 5px 50px;
}

.cointeiner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  
}
ul {
    display: flex;
    gap: 40px;
}
.mian-head{
    display: flex;
    flex-direction: ; 
}
.small-conteiner {
    display: flex;
    flex-wrap: wrap;
    padding-right: 100px;
}
button > img {
    color: white;
}
.grye {
    background-color: grey;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 00px;
    padding-bottom: 0px;
}